[Unit]
Description=svnserve Container
Requires=docker.service
After=docker.service

[Service]
Environment=SVN_USER=svnuser
Environment=VERSION=1.1
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_ADMIN CAP_SYS_RESOURCE CAP_DAC_OVERRIDE
#-- prereq
ExecStartPre=/usr/bin/mkdir -p /home/${SVN_USER}/logs /home/${SVN_USER}/repos /home/${SVN_USER}/.ssh
#-- recreate the file
ExecStartPre=/bin/bash -c "echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDZ6gFraNQ2lpaJ0NJTIxR4kdSJ6MkO6PjtWXIX9+Tvv9R44Md7EMeTrnwKXHuwhOcYiFyEfcFC6zd1zL0EllHZgTrDosEM9tkylqBlZtgndlT8y+gp2XmgG0siVHIyxyQyNR71F5xtqAFojgYhhs7aar50nZYPK0nPGS2Wum2GkW9I/35VdvLyiKhwwqhArnO/ghde+FSh/A3HKcADWZDDyAFUgKqDDARKFR81w67NqYEWJUK7ON1t6HgP1xzeevykVQvURkpcL7h9VpCqUB6v8lzgmmJneRYUVJnMvB17P1XHKjmnqvbSA/8exTH0iOWIs52QjR0yCydX0LnmTm/r samp@srvn.egaming.ro' >/home/${SVN_USER}/.ssh/authorized_keys"
ExecStartPre=/bin/bash -c "echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDn0yvgQXKzVYauve+nOLAImeYJYBUWEqldz/h+8xH4lNEECu6oM4l55ZilS1WB4PQD6H8fTal/zW8MIaX71UwDEby2haqnfEZ2oC1AmBXvMH+n3TExjOXLVJ910msc5TxRqsfCiuV4lLPrFe7N1EF9EIS4uk42YduNHPysbFP7VVy7HmeUGHoeonpumRgfiXfsmRFDz7JVubMpXYeXmxM7u3V8Brc6VllXFiBIUqxy+PxVLrEImPua/bC1kLz6C7hyjH2SSNsilGatWONq/d0BpZF6cxjQP1tI4nRbs4YdWk3KhSz1gauzPKS60ZR4YldJmI7Gleb0d/Xxwv3M21Qx root@xantos-hdd' >> /home/${SVN_USER}/.ssh/authorized_keys"
ExecStartPre=/bin/bash -c "echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDQR/UxNXnD6gSxhJwejZE0YjBYPHtSRQJp2fU0JjOSTHye6apdQme/XPGl8atAng6fyzlZcEaZFMDq7cNFZhrZzgCwtCaRRVdZh+wwJmTa0Qzi/sWK73+nGYnePfN1cFZdY9sLi9UnBgVmB5X5kgnCx4SIGZqUcze+fGW4LaGMVfcwZUo51TP8JfjRtfwAhXl2kIkTR1iY4pJ+ryTzdD5iLSwen5RbJbHsQ1GVpCp3nuUQn7z8Bsqt/BJClKM7HcOV1IbzPKIs49Z2ZP/+n03Km4VKaVkqPU8m29PBk8pYK6QP18SNTvgRFugqGSJqNDQt0H8FM1uGc8tqAuttlbxN xanto@fedora.test.lo' >> /home/${SVN_USER}/.ssh/authorized_keys"
ExecStartPre=/bin/bash -c "echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCz4sNIPRt3HDBybZDkxfVFbjBTkjHplIig80vRjUoIL9y4eGnsBEPG082y60Rsj22p3zgtENOcM2rRdgYGym5pXnTRMFFDVnq30K+//9OM9rEaBP9lR2/TSAC5oTebKDY4JFNH5v4xmxOee+rDUYcm0uYS2g0RUJ9+A0EIekz6OMHxlLdAukhvewAKrJO9Nyag8DxYqlctgMiQnxE3rCL+cyMuaio/cCEz4BEvHbblouk8Uv5rVaERLksL2KNxLSSAsUICfL7jF8g3L0EcYheK25oZw51n++3zdbbSdYDnDtu4IbuEVYwGb8cInNeseqTP+YvHCkEJ0K7LxIwdE7v5 mike@xantos-nest.manjaro' >> /home/${SVN_USER}/.ssh/authorized_keys"
ExecStartPre=/bin/bash -c "echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDDblLFEMmdjR2HBAH8zy6NGpAsOXrejzvcJ2xAmO1p5I4FFCmKYRDPy2R/CX/AOQ//4jn4YVS8zXQ/eA0Ty7pIPKObWRZshFNqW2vUDkkrAuxJ4QJABQ6MiZZdMi/9Qy28prM9hu+se7qZuqS+sjkcJJonk/V+9zaXJpDE+RjxsTzLX4qpsZGqQu5qShbYMAByBD3DwvjygtnwbSCcYIeXo9U7P9K6zfr6Qx3rIJXyBQNLc9STSurU2QznH1ntVBajFtUOoFGkevi51bAALGZ6wrjH9WJyamrS7tq6jNOmkHxU6mFvmCrIszbUrUB8bkDxC+eMYjYPKHxGz8t4DsRD mike@mikes-nest.z51-70.local' >> /home/${SVN_USER}/.ssh/authorized_keys"
ExecStartPre=/bin/bash -c "echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCoOcIiAQaWH8vBjETngT+bGajaAJFmZH/1TjJGfOV02c+ckRuMHXXBM1iLSu56at8ADd7Xm6pWM5gv5VJDsezNycd/cVvHRcfhHooaRf2Zx/184tW0MalY/Z9Hb0jhdFDItyxjQ+kO9CPfv9MaKAFlEXgjFAw92NEVZLu+tKHFLJUD//vhlbRClqHAdeAwqRrff12lFAdTY9NgiSLu7b+dXXQyeklaDm6puXNgp8+YGh4bAgJIIuY4U4AOMv7XqzklI4bcI0KF/BSv3PborErc93ufJIMF2MZctc90luyTU8hB2bfz/axane3BLsY+MVdsh9XwdIb5Vp0jk2UbnjGn samp-web@srvn.egaming.ro' >> /home/${SVN_USER}/.ssh/authorized_keys"
ExecStartPre=-/usr/bin/docker rm $SVN_USER
ExecStart=/usr/bin/docker run -p1022:1022 --name $SVN_USER --rm -v /home/${SVN_USER}:/home/${SVN_USER} svn-ssh:${VERSION}
ExecStartPost=/usr/bin/sleep 3
ExecStartPost=/usr/bin/docker exec -d --privileged $SVN_USER /usr/bin/fixpriv
ExecStop=/usr/bin/docker stop -t 2 $SVN_USER
ExecStopPost=-/usr/bin/docker rm $SVN_USER

Type=simple
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
